<footer class="row container">
    <br />
    <p>
        <small> © <strong>Savchenko Solutions</strong>, 2023-2024 <br /></small>
    </p>
    <p>
        <small>
            All rights belong to the authors. <br />
            Commercial use of materials - with the written permission of the authors. <br />
            aliaksandr@melnichenka.com <br />
        </small>
    </p>
</footer>
