<footer class="row container">
    <br />
    <p>
        <small> © <strong>Savchenko Solutions</strong>, 2023-2025 <br /></small>
    </p>
    <p>
        <small>
            Все права принадлежат авторам. <br />
            Коммерческое использование материалов — с письменного разрешения авторов. <br />
            aliaksandr@melnichenka.com <br />
        </small>
    </p>
    <br />
</footer>