<footer class="site-footer w-100">
    <div class="container py-4">
        <p class="mb-2">
            <small> © <strong>Savchenko Solutions</strong>, 2023-2025 <br /></small>
        </p>
        <p class="mb-0">
            <small>
                Solutions are contributed by their authors and based on original textbook content, which remains the property of the textbook authors. Unless otherwise noted, solutions are provided under the CC BY-SA 4.0 license. Commercial use of any material requires written permission.<br />
                aliaksandr@melnichenka.com <br />
            </small>
        </p>
    </div>
</footer>
