<footer class="row container">
    <br />
    <p>
        <small> © <strong>Savchenko Solutions</strong>, 2023-2025 <br /></small>
    </p>
    <p>
        <small>
            Все решения предоставлены их соответствующими авторами (участниками Savchenko Solutions) и основаны на оригинальном содержании учебников, которое остается собственностью авторов учебников. Если не указано иное, решения предоставляются по лицензии Creative Commons Attribution–ShareAlike 4.0 International (CC BY-SA 4.0). Коммерческое использование любого материала требует письменного разрешения. <br />
            aliaksandr@melnichenka.com <br />
        </small>
    </p>
    <br />
</footer>