<footer class="row container">
    <br />
    <p>
        <small> © <strong>Savchenko Solutions</strong>, 2023-2025 <br /></small>
    </p>
    <p>
        <small>
            Решения предоставлены их авторами и основаны на оригинальном содержании учебников, которое остается собственностью авторов учебников. Если не указано иное, решения распространяются по лицензии CC BY-SA 4.0. Коммерческое использование требует письменного разрешения.<br />
            aliaksandr@melnichenka.com <br />
        </small>
    </p>
    <br />
</footer>