<link rel="stylesheet" href="/css/css-latex/header_mobile.css" />

<a class="mw-jump-link" href="#bodyContent">Jump to content</a>
<div class="vector-header-container">
    <header class="header-container header-chrome">
            <div class="minerva-header">
                <nav class="navigation-drawer toggle-list view-border-box">
                    <input type="checkbox" id="main-menu-input" class="toggle-list__checkbox" role="button" aria-haspopup="true" aria-expanded="false" aria-labelledby="mw-mf-main-menu-button">
                    <label role="button" for="main-menu-input" id="mw-mf-main-menu-button" aria-hidden="true" data-event-name="ui.mainmenu" class="cdx-button cdx-button--size-large cdx-button--fake-button cdx-button--fake-button--enabled cdx-button--icon-only cdx-button--weight-quiet toggle-list__toggle">
    <span class="minerva-icon minerva-icon--menu"></span>
<span></span>
</label>

                    <div id="mw-mf-page-left" class="menu view-border-box">
    <ul id="p-navigation" class="toggle-list__list">
            <li class="toggle-list-item ">
                <a class="toggle-list-item__anchor menu__item--home" href="/wiki/Main_Page" data-mw="interface">
                    <span class="minerva-icon minerva-icon--home"></span>

                    <span class="toggle-list-item__label">Home</span>
                </a>
            </li>
            <li class="toggle-list-item ">
                <a class="toggle-list-item__anchor menu__item--random" href="/wiki/Special:Random" data-mw="interface">
                    <span class="minerva-icon minerva-icon--die"></span>

                    <span class="toggle-list-item__label">Random</span>
                </a>
            </li>
            <li class="toggle-list-item skin-minerva-list-item-jsonly">
                <a class="toggle-list-item__anchor menu__item--nearby" href="/wiki/Special:Nearby" data-event-name="menu.nearby" data-mw="interface">
                    <span class="minerva-icon minerva-icon--mapPin"></span>

                    <span class="toggle-list-item__label">Nearby</span>
                </a>
            </li>
    </ul>
    <ul id="p-personal" class="toggle-list__list">
            <li class="toggle-list-item ">
                <a class="toggle-list-item__anchor menu__item--login" href="/w/index.php?title=Special:UserLogin&amp;returnto=Mazyr" data-event-name="menu.login" data-mw="interface">
                    <span class="minerva-icon minerva-icon--logIn"></span>

                    <span class="toggle-list-item__label">Log in</span>
                </a>
            </li>
    </ul>
    <ul id="pt-preferences" class="toggle-list__list">
            <li class="toggle-list-item skin-minerva-list-item-jsonly">
                <a class="toggle-list-item__anchor menu__item--settings" href="/w/index.php?title=Special:MobileOptions&amp;returnto=Mazyr" data-event-name="menu.settings" data-mw="interface">
                    <span class="minerva-icon minerva-icon--settings"></span>

                    <span class="toggle-list-item__label">Settings</span>
                </a>
            </li>
    </ul>
    <ul id="p-donation" class="toggle-list__list">
            <li class="toggle-list-item ">
                <a class="toggle-list-item__anchor menu__item--donate" href="https://donate.wikimedia.org/wiki/Special:FundraiserRedirector?utm_source=donate&amp;utm_medium=sidebar&amp;utm_campaign=C13_en.wikipedia.org&amp;uselang=en&amp;utm_key=minerva" data-event-name="menu.donate" data-mw="interface">
                    <span class="minerva-icon minerva-icon--heart"></span>

                    <span class="toggle-list-item__label">Donate</span>
                </a>
            </li>
    </ul>
    <ul class="hlist">
            <li class="toggle-list-item ">
                <a class="toggle-list-item__anchor menu__item--about" href="/wiki/Wikipedia:About" data-mw="interface">
                    
                    <span class="toggle-list-item__label">About Savchenko Solutions</span>
                </a>
            </li>
    </ul>
</div>

                    <label class="main-menu-mask"></label>
                </nav>
                <div class="branding-box">
                    <a href="/wiki/Main_Page">
                        <span><img src="../img/savchenko-wordmark-en.svg" alt="Wikipedia" width="180" height="18" style="width: 9.5em; height: 1.125em;">

</span>
                        
                    </a>
                </div>
                    <form action="/w/index.php" method="get" class="minerva-search-form">
                <div class="search-box">
                    <input type="hidden" name="title" value="Special:Search">
                    <input class="search skin-minerva-search-trigger" id="searchInput" type="search" name="search" placeholder="Search Wikipedia" aria-label="Search Wikipedia" autocapitalize="sentences" title="Search Wikipedia [alt-shift-f]" accesskey="f" readonly="">
                    <span class="search-box-icon-overlay"><span class="minerva-icon minerva-icon--search"></span>
</span>
                </div>
                <button id="searchIcon" class="cdx-button cdx-button--size-large cdx-button--icon-only cdx-button--weight-quiet skin-minerva-search-trigger">
        <span class="minerva-icon minerva-icon--search"></span>
<span>Search</span>
    </button>
</form>
        <nav class="minerva-user-navigation" aria-label="User navigation">
                    
                </nav>
            </div>
        </header>
</div>

</div>
