<header style="text-align: center;">
    <a href="../../" style="text-decoration: none;">
        <div id="logo">
            <span><img src="../../img/book.png" /></span><span>Savchenko Solutions</span>
        </div>
    </a>
    <p class="author">
        Solutions&nbsp;of&nbsp;Savchenko Problems&nbsp;in&nbsp;Physics <br />
        <i><b>knowledge must be free</b></i>
    </p>
</header>
