<%- include('./partials/header') %>
<h1>Welcome to Savchenko Solutions</h1>
<p>This is just a placeholder homepage.</p>
<a class="btn btn-primary" href="/sandbox">Go to Sandbox</a>
<%- include('./partials/footer') %>