<!DOCTYPE html>
<html>
  <head>
    <title><%= pageTitle || 'Savchenko Solutions' %></title>
    <!-- Bootstrap, etc. -->
  </head>
  <body>
    <nav>
      <!-- your nav -->
    </nav>
    <div class="container">
